/*global*/
a { color: #2C629E; text-decoration: none; }
a:hover { text-decoration: underline; }
a.rounded, .button {
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle; /* or top */
  display: -moz-inline-box;
  display: inline-block;
  overflow: visible; /* IE6 form button fix */
}
.button {
  color: #fff;
  background-color: #3B5998;
  padding: 3px 10px;
}
.button:hover {
  background-color: #3B79A8;
}
a.small{
  padding: 1px 5px;
}
a.tool{
  color: #333;
  background-color: #fff;
}
a.tool:hover{
  background-color: #ddd;
}
a img { border: none; }
.t_input,select {
  border:1px solid #DDDDDD;
  line-height:16px;
  padding:3px 2px;
}
li{
  margin: 5px 0;
}
form.inline{
  display: inline;
}
.hint{
  font-size: 90%;
  color: #f00;
}
/*global end*/

/*head*/
#hd{
  background-color:  #3B5998;
  height:40px;
  padding: 0 20px;
  margin-bottom: 20px;
}

#hd .logo{
  float: left;
  margin-right: 30px;
}

#hd{
  color: #fff;
}

#hd .menu{
  float: left;
}
#hd .menu li{
  float:left;
  line-height:20px;
  padding:10px;
  vertical-align:top;
}

/*head end*/

/*side bar*/
#app_sidebar{
  background-color: #F7F7F7;
  border: 1px solid #ddd;
  font-size: 110%;
}
.app_list{
  padding: 15px 0; 
}
.app_list li {
  height:20px;
  line-height:21px;
  overflow:hidden;
  position:relative;
  padding:5px 10px;
}
.app_list li img {
  margin:0 5px 0 0;
  vertical-align:middle;
}
.app_list em {
  font-size:12px;
  font-style:normal;
  font-weight:normal;
  position:absolute;
  right:20px;
}
.app_list em a {
  color:#999999;
}
/*side bar end*/

/*footer*/
#ft {
  background-color: #EDF2F6;
  margin-top: 30px;
  color:#333333;
  padding:10px 0;
  text-align:center;
}
#ft a{
  color:#333;
}
#ft p{
  margin: 3px 0;
}
.r_option {
  float:right;
  font-weight:normal;
}
/*footer end*/

/*login form*/
.c_form {
  padding:0.5em 3em;
}
.formtable{
  width: 100%;
}

.formtable caption {
  color:#666666;
  padding:10px 0;
  font-weight:bold;
}
.formtable caption h2 {
  border-bottom:1px solid #CCCCCC;
  color:#333333;
  font-size:14px;
  padding-bottom:8px;
}
.formtable caption p {
  margin-top:8px;
  font-weight:normal;
}
.formtable th {
  padding-right:1em;
  text-align:right;
}
.formtable td, .formtable th {
  padding:5px;
}
/*end*/

/*instalce_info*/
#instances{
  padding:10px;
}
.instance_info, .group{
  padding: 10px;
  background-color: #EDF2F6;
}
.instance_info li{
  margin: 5px;
  color: #333;
}
.instance_info li span{
  color:#000;
  margin: 0px 5px;
}
/*end*/

.toolbar{
  background-color: #EDF2F6 ;
  padding: 5px 10px;
  margin: 10px 0;
}
div.toolbar div.small{
  text-align: right;
}

/* instance output*/
#instance_output{
  padding: 10px;
  background-color: #333;
  color:#fff;
  overflow: scroll;
}
/*end*/

/*group*/
.group{
  margin-bottom: 15px;
  border-top: 5px solid #3B5998;
}
.group h1{
  padding: 5px;
}
.group p{
  margin: 5px 0;
}
#group_perm_list{
  background-color: #555;
  color:#fff;
  margin:5px 0;
}
#group_perm_list li{
  padding: 5px;
}

.add_rule{
  display:none;
}
.facebox{
  display:none;
  padding:5px;
}
.facebox h2{
  color: #3B5998;
  padding:5px;
  border-bottom: 1px solid #777;
}
.facebox form p{
  margin:10px;
}
.facebox form p label{
  width: 40px;
  display: inline-block;
}
/*group end*/

/*flash*/
.flash{
 padding: 5px 20px; 
}
.flash_notice{
  background-color: #00a651;
  color: #fff;
}
.flash_warning{
  background-color: #f7941d;
  color: #fff;
}
.flash_error{
  background-color: #f00;
  color: #fff;
}
/*flash end*/

/*keys list*/
#keys_list
/*end*/